[Unit]
Description=Therm App
After=network-online.target
 
[Service]
ExecStart=/home/pi/ThermApp
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
EnvironmentFile=/home/pi/serviceEnv.conf
Restart=always
User=pi
 
[Install]
WantedBy=multi-user.target

#PROP
#/lib/systemd/system/ThermApp.service